<h1>Ember Emmet CodeMirror</h1>

{{ivy-codemirror options=(hash
  lineNumbers = true
  mode        = 'htmlmixed'
  addModeClass= true
  theme       = 'solarized light')
  value       = model.source
}}

{{ivy-codemirror-emmet options=(hash
lineNumbers = true
mode        = 'htmlmixed'
addModeClass= true
theme       = 'solarized light')
value       = model.source
}}